<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassGestion</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="form_container">
        <h1 class="login-title">Gestíon de Alumnos</h1>
        <div class="login-container">
            <h2>Iniciar Sesión</h2>
            <form id="loginForm" action="/login" method="POST">
                <div class="form-group">
                    <label for="name">Nombre de Usuario:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </div>
</body>
</html>